:root {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  --ant-font-family: 'Pretendard', sans-serif;
}

.member-page-container {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  max-height: calc(100vh - 48px);
}
